# Ignorer le dossier deps
/deps/

# Ignorer le dossier _build
/_build/

# Ignorer le fichier config.exs dans le dossier config
/config/config.exs

# Vous pouvez ajouter d'autres fichiers ou dossiers à ignorer ici
*.log
*.tmp
